# Pandas Showcase
This notebook closely follows the Earth and Enviromental Data Science course at https://earth-env-data-science.github.io/intro.html

In [2]:
import pandas as pd
from matplotlib import pyplot as plt
from mpl_toolkits.basemap import Basemap
import numpy as np
%matplotlib inline

In [6]:
#1) Use Pandasâ€™ read_csv function directly on this URL to open it as a DataFrame
url = 'http://www.ldeo.columbia.edu/~rpa/usgs_earthquakes_2014.csv'
data = pd.read_csv(url)

                           time   latitude   longitude   depth   mag magType  \
0       2014-01-31 23:53:37.000  60.252000 -152.708100   90.20  1.10      ml
1       2014-01-31 23:48:35.452  37.070300 -115.130900    0.00  1.33      ml
2       2014-01-31 23:47:24.000  64.671700 -149.252800    7.10  1.30      ml
3       2014-01-31 23:30:54.000  63.188700 -148.957500   96.50  0.80      ml
4       2014-01-31 23:30:52.210  32.616833 -115.692500   10.59  1.34      ml
...                         ...        ...         ...     ...   ...     ...
120103  2014-12-01 00:10:16.000  60.963900 -146.762900   14.80  3.80      ml
120104  2014-12-01 00:09:39.000  58.869100 -154.415900  108.40  2.40      ml
120105  2014-12-01 00:09:25.350  38.843498 -122.825836    2.37  0.43      md
120106  2014-12-01 00:05:54.000  65.152100 -148.992000    9.50  0.40      ml
120107  2014-12-01 00:04:05.000  60.227200 -147.024500    2.50  1.60      ml

        nst     gap      dmin     rms net          id  \
0       NaN     NaN       NaN  0.2900  ak  ak11155107
1       4.0  171.43  0.342000  0.0247  nn  nn00436847
2       NaN     NaN       NaN  1.0000  ak  ak11151142
3       NaN     NaN       NaN  1.0700  ak  ak11151135
4       6.0  285.00  0.043210  0.2000  ci  ci37171541
...     ...     ...       ...     ...  ..         ...
120103  NaN     NaN       NaN  0.6900  ak  ak11453391
120104  NaN     NaN       NaN  0.6700  ak  ak11453395
120105  8.0  107.00  0.008991  0.0300  nc  nc72358451
120106  NaN     NaN       NaN  0.6900  ak  ak11453390
120107  NaN     NaN       NaN  0.7300  ak  ak11453389

                         updated                              place  \
0       2014-02-05T19:34:41.515Z  26km S of Redoubt Volcano, Alaska
1       2014-02-01T01:35:09.000Z            32km S of Alamo, Nevada
2       2014-02-01T00:03:53.010Z   12km NNW of North Nenana, Alaska
3       2014-01-31T23:41:25.007Z         22km S of Cantwell, Alaska
4       2014-02-01T00:13:20.107Z       10km WNW of Progreso, Mexico
...                          ...                                ...
120103  2015-03-24T18:25:07.628Z          29km SW of Valdez, Alaska
120104  2014-12-10T01:04:25.209Z   102km SSE of Old Iliamna, Alaska
120105  2014-12-01T01:15:02.814Z        9km WNW of Cobb, California
120106  2014-12-10T01:03:01.225Z           57km NW of Ester, Alaska
120107  2014-12-09T02:04:46.894Z        78km WSW of Cordova, Alaska

              type
0       earthquake
1       earthquake
2       earthquake
3       earthquake
4       earthquake
...            ...
120103  earthquake
120104  earthquake
120105  earthquake
120106  earthquake
120107  earthquake

[120108 rows x 15 columns]

In [ ]:
# 2) Re-read the data in such a way that all date columns are identified as dates and the earthquake ID is used as the index

Test